<div class="example-container">
  <mat-form-field [hideRequiredMarker]="false">
    <input  matInput placeholder="Search.." required [(ngModel)]="query.search">
  </mat-form-field>
  <div>
    <mat-form-field>
	  <input matInput [matDatepicker]="from"  [(ngModel)]="query.from" [max]="query.to" placeholder="Choose a FROM date">
	  <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
	  <mat-datepicker #from></mat-datepicker>
	  
	</mat-form-field>
	 <mat-form-field>
	  <input matInput [matDatepicker]="to" [(ngModel)]="query.to" [min]="query.from" placeholder="Choose a TO date">
	  <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
	  <mat-datepicker #to></mat-datepicker>
	  
	</mat-form-field>
 </div>
			<button (click)="post()" mat-button color="primary">SEARCH</button>
</div>

<div id="high-container">
	<mat-spinner *ngIf="loading"></mat-spinner>
	<div id="container" style="width:100%; height:400px;"></div>
</div>